@import "fonts"; // import web fonts

/**
 * Set global Sass variables.
 */
$font-size: 1rem;
$black: #000;
$blue: #2196f3;
$red: #b00020;
$white: #fff;

/**
 * Set global CSS variables.
 */
:root {
  --background-color: #{$white};
  --foreground-color: #{$black};
  --highlights-color: #{$red};
}

/**
 * Set alternate CSS variables.
 */
[data-theme="dark"] {
  --background-color: #{$black};
  --foreground-color: #{$white};
  --highlights-color: #{$blue};
}

* {
  outline: 0;
}

.game {
  background: var(--background-color);
  color: var(--foreground-color);
  font: 400 #{$font-size}/1 "Source Sans Pro", sans-serif;

  &__wrap {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
  }

  /* Header */
  &__head {
    margin: 0 auto;
    order: 1;
    padding: 1rem;
    text-align: center;
    width: calc(100% - 2rem);

    &__name {
      font-family: "Sansita", sans-serif;
      font-size: 150%;
      font-weight: 900;
      margin: 0;
    }

    &__turn {
      color: var(--highlights-color);
      margin: 1rem auto 0 auto;
    }
  }

  /* Main */
  &__main {
    background: var(--foreground-color);
    display: inline-flex;
    flex-flow: row wrap;
    height: 9.5rem;
    margin: 0 auto;
    order: 2;
    text-align: center;
    width: 9.5rem;

    &__cell {
      background: var(--background-color);
      height: 3rem;
      margin: 0 0.25rem 0.25rem 0;
      width: 3rem;

      &:active, &:focus, &:hover {
        cursor: pointer;
      }

      &:nth-child(3), &:nth-child(6) {
        margin: 0 0 0.25rem 0;
      }

      &:nth-child(7), &:nth-child(8) {
        margin: 0 0.25rem 0 0;
      }

      &:nth-child(9) {
        margin: 0;
      }
    }
  }

  /* Modal */
  &__modal {
    background: var(--background-color);
    display: none;
    flex-flow: column wrap;
    position: absolute;
    height: 100vh;
    left: 0;
    top: 0;
    width: 100vw;
  }

  /* Footer */
  &__foot {
    margin: 0 auto;
    order: 3;
    padding: 1rem;
    text-align: center;
    width: calc(100% - 2rem);

    &__copy {
      line-height: 1.5;
      margin: 0;
    }

    &__link {
      color: var(--highlights-color);
      text-decoration: none;
    }
  }
}

/**
 * Set chainable BEM modifiers (cfr. https://webuild.envato.com/blog/chainable-bem-modifiers/).
 */
.-text-small {
  font-size: 87.5%;
}

.-text-bold {
  font-weight: 700;
}

.-text-italic {
  font-style: italic;
}

.-text-uppercase {
  text-transform: uppercase;
}
